.add-expense {
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding-top: 1.7rem;
  padding-bottom: 1rem;
  margin: 0 auto 5px auto;
  background-color: #17B794;
  width: 100%;
  height: 90px;
  border-radius: 8px;
  box-shadow: 0 1px 8px rgba(255, 255, 255, 0.25);
  opacity: 60%;


}

.add-expense:hover,
.add-expense:active {
  background-color: #3a339b;
  border-color: #510674;
}

.add-expense.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.add-expense.alternative:hover,
.add-expense.alternative:active {
  background-color: #ddb3f8;
}