.expenses {
    color: #363062;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 1rem;
    background-color: #D8B9C3;
    margin: 0.5rem auto;
    width: 60rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  }



